<% layout("/layouts/boilerplate") %>
<script>
  let mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(show) %>;
</script>

<div
  class="show-outer"
>
  <div class="d-flex justify-content-between first-child">
    <div class="title">
      <h1><%= show.title %></h1>
    </div>
    <% if(currUser && currUser._id.equals(show.owner._id)) { %>
    <div class="d-flex align-items-center mb-3">
      <a href="/listings/edit/<%= show._id %>" class="btn btn-primary me-4"
        >Edit Button</a
      >
      <form method="post" action="/listings/<%= show._id %>?_method=delete">
        <button class="btn btn-primary">Delete Button</button>
      </form>
    </div>
    <% } %>
  </div>
  <div class="img-outer">
    <div class="big-img">
      <img src="<%= show.image.path %>" alt="" />
    </div>
    <div>
      <div class="small-img1">
        <img src="<%= show.image.path %>" alt="" />
      </div>
      <div class="small-img2">
        <img src="<%= show.image.path %>" alt="" />
      </div>
    </div>
  </div>

  <div class="desciption my-4">
    <h4><%= show.description %></h4>
  </div>
  <hr />

  <!-- Review secton-->
  <% if(currUser) { %>
  <div class="card card-list-form p-5 mt-5 form-card">
    <h4 class="fs fsp" >Leave a Comment</h4>
    <form
      method="post"
      action="/listings/<%= show._id %>/reviews"
      class="needs-validation fsp"
      novalidate
    >
      <!-- <div>
        <input type="range" min="1" max="5" name="listing[rating]" />
      </div> -->
      <p>Rating</p>
      <fieldset class="starability-slot">
        <legend class="fs">First rating:</legend>
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="listing[rating]"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="listing[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="listing[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="listing[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="listing[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="listing[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <!-- <label for="description" class="form-label ">Description</label> -->
      <label for="listing[comment]" class="form-label">Comment</label>
      <textarea
        id="textArea"
        class="form-control"
        rows="5"
        name="listing[comment]"
        required
      ></textarea>
      <div class="invalid-feedback">add some comment for this place</div>
      <button class="btn btn-dark my-3 add-btn">Sumbit</button>
    </form>
  </div>
  <% } %>
</div>
<hr />
<!-- review section -->
<h2 class="text-center mt-5">All Reviews</h2>
<div style="overflow-x: scroll; white-space: nowrap; scrollbar-width: none">
  <% for(rev of show.review) { %>
  <div class="m-2 shadow border review-box" style=" display: inline-block">
    <div class="p-2 px-4">
      <h3><%= rev.owner.username %></h3>
    </div>
    <div class="card-body px-4 p-4">
      <h5 class="card-title"><%= rev.comment %></h5>
      <p class="starability-result" data-rating="<%= rev.rating %>"></p>
    </div>
    <% if(currUser && currUser._id.equals(rev.owner._id)) { %>
    <form
      method="post"
      action="/listings/<%= show._id %>/reviews/<%= rev._id %>?_method=delete"
    >
      <button class="btn btn-dark ms-3 mb-2">Delete</button>
    </form>
    <% } else {%>
    <button class="btn btn-dark ms-3 mb-2">Delete</button>
    <% } %>
  </div>
  <% } %>
</div>

<div class=" mt-4 d-flex flex-column align-items-center">
  <!-- Map section -->
  <div class="col-6"></div>
  <h2>Where are You</h2>
  <div id="map"></div>
</div>
<script src="/js/map.js"></script>
